fastapi
uvicorn
mcp[cli]
langchain
langgraph
langchain-community
langchain-ollama
docker
neo4j
langchain-experimental
langchain-neo4j
langchain-huggingface
sentence-transformers
python-docx
openpyxl
pydantic
python-dotenv
sqlalchemy
bcrypt
PyJWT
python-multipart
